/* ================ LAYOUT SECTION ============= */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: hsl(212, 45%, 89%);


}

main {
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    width: 250px;
    margin: auto auto;

}

/* ======================= STYLING and TEXT SECTION ================== */

h2 {
    text-wrap: balance;
}

p {
    color: rgba(0, 0, 0, 0.5);
}

.image-style {
    max-width: 95%;
    max-height: 95%;
    border-radius: 8px;
}