/* ================ LAYOUT SECTION ============= */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    font-family:'Outfit', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    /* rem is relative to the root font size of browser and its useful for scalability of chnaging font size by the user */
    text-align: center;

    background-color: hsl(212, 45%, 89%);


}

main {
    background-color: white;

    padding: 12px;
    border-radius: 20px;
    
    max-width: 16rem;
    margin: auto
}

/* ======================= STYLING and TEXT SECTION ================== */

h2 {
    text-wrap: balance;
}

p {
    color: rgba(0, 0, 0, 0.5);
}

.image-style {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}